[githooks]
        debug = 0
        plugin = CheckLog
        plugin = CheckFile
        plugin = CheckWhitespace
        help-on-error = "Push failed. Please consult error messages."
[githooks "checklog"]
        match = "^.*$"
        title-required = 0
        title-max-widt = 0
        title-period = allow
        body-max-width = 0
        spelling = 0
        spelling-lang = EN
        help-on-error = "Some general information on commit messages and possible policies for them: http://www.kernel.org/pub/software/scm/git/docs/git-commit.html"
[githooks "checkfile"]
        name = *.p[lm] cd ${REPO_ADMIN_DIR} && carton exec \"perlcritic --profile .perlcriticrc {}\"
